$galimg : url("../img/galaxy.jpg");
$piximg : url("../img/pixels.jpg");
$techimg : url("../img/tech.jpg");

.galaxybg{
  background: $galimg;
}

.pixelbg{
  background: $piximg;
}

.techbg{
  background: $techimg;
}

.signup{
   margin:0 auto;
}

.signup-form{
    margin-top:3%;
}

.change{
  color:white;

}

 @media only screen and (max-width:400px){
  .change{
     color:black;
 }
 }

 .setSize{
   font-size:2em;
 }

  @media only screen and (max-width:400px){
   .setSize{
      font-size:1.5em;
  }
  }
